@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    /* ### Primary */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    /* ### Neutral */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    /* #FONT */
    --font: 'Poppins', sans-serif;
    --weight-s: 200;
    --weight-m: 400;
    --weight-l: 600;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    font-size: 15px;
    background: var(--Very-Light-Gray);
}

.container {
    padding: 0 2.2rem;
    margin: 4rem 0;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
}

.title {
    color: var(--Very-Dark-Blue);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4.8rem;
}

h1 {
    font-size: 1.55rem;
    font-weight: var(--weight-s);        
}

h2 {
    font-size: 1.56rem;
    font-weight: var(--weight-l) ;
}

.title > p {
    margin-top: 11px;
    font-size: 0.95rem;
    opacity: 0.6;
    font-weight: var(--weight-m);
}

section {
    display: flex;
    flex-direction: column;
}

.card {
    border-radius: 7px;
    height: 223px;
    margin: 11px 0;
    padding: 1.4rem 1.9rem;
    box-shadow: 0px 10px 20px hsla(234, 12%, 34%, 0.26);
    border: 4px solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#card-cyan {
    border-color: var(--Cyan);
}

#card-red {
    border-color: var(--Red);
    margin-bottom: 3vh;
}

#card-orange {
    border-color: var(--Orange);
}

#card-blue {
    border-color: var(--Blue);
}

.logo-card {
    display: flex;
    justify-content: flex-end;
}

img {
    width: 45px;
    height: auto;
}

h3 {
    font-weight: var(--weight-l);
    color: var(--Very-Dark-Blue);
}

p {
    margin-top: 4px;
    color: var(--Very-Dark-Blue);
    font-weight: var(--weight-l);
    font-size: 0.8rem;
    opacity: 0.6;
}


@media screen and (min-width: 376px) {
    .container {
        display: grid; 
        grid-template-columns: 1fr;
    }

    .title > p {
        margin: 1.5vh 30vw 0 30vw;
    }

    section {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
    }

    .text-card > p {
        width: 18vw;
    }

    .left{
        margin-left: 9vw;
        margin-top: 17vh;
    }

    .center {
        display: flex;
        flex-direction: column;
        padding: 0 3.1vw;
    }

    .right {
        margin-right: 9vw;
        margin-top: 17vh;
    }

}